<div class=" text-center"><h1 class=" display-4">Welcome</h1></div>
<div class="Jumbotron">
    <div>INR: &#8377</div>
    <a asp-action="Echo" asp-route-name="SubbaReddy"
       asp-route-city="chennai">Call Echo</a>
    <a asp-action="SayHello" asp-route-name="SubbaReddy">Call SayHello</a>
    <div>



    </div>
</div>
<div class="text-center">



</div>
<hr />

